extends layout

block content
  .main
     #app
  .container
    .text.animate__animated.animate__fadeIn#text(name = title)
      .p Hola #{title}, ¡Feliz Navidad!
      .p (haz tap para seguir avanzando)